/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* full screen root */
html, body, #root {
  height: 100%;
  width: 100%;
}

/* center everything by default */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}
